@tailwind base;
@tailwind components;
@tailwind utilities;


.parent {
  overflow-x: auto;
}

.content {
  height: 100%;
  white-space: nowrap;
}

.container {
  overflow-y: auto;
  overflow-x: hidden;
}